.postForm {
    border: 1px solid #0275d8;
    border-radius: 4px;
    padding: 30px;
    margin-top: 20px;
}

.label {
    margin-bottom: 0;
    border-radius: 0 !important;
}

.label-large {
    font-size: large !important;
}

.text-input {
    border-radius: 0 !important;
}

.list-group-item:hover{
    background-color: #eceeef;
    cursor: pointer;
}

.post-list-enter {
    opacity: 0.01;
}

.post-list-enter-active {
    opacity: 1;
    transition: 500ms ease-in all;
}

.post-list-leave {
    opacity: 1;
}

.post-list-leave-active {
    opacity: 0.01;
    transition: 500ms ease-in all;
}